html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


/* ---------- banner ---------*/

#particles-js {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container {
    background-color: #1a1919;
    height: 100vh;
}

.text-banner {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    position: absolute;
}

.title {
    text-align: center;
}

.title h1 {
    color: rgb(29, 156, 194);
    font-size: 5rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    text-align: center;
    text-shadow: 0.2rem 0.5rem 2rem #00aa9c;
    margin: 1rem;
}

.typed-text h2 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    margin: 0;
    text-align: center;
}

@media(min-width:481px) and (max-width:767px) {
    .title h1 {
        font-size: 3rem;
        letter-spacing: 0.3rem;
        line-height: 3rem;
        text-align: center;
        text-shadow: 0.2rem 0.5rem 2rem #00aa9c;
    }
    .typed-text h2 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
        text-align: center;
    }
}

@media(min-width:768px) and (max-width:959px) {
    .title h1 {
        font-size: 6rem;
        letter-spacing: 0.3rem;
        line-height: 10rem;
        text-align: center;
        text-shadow: 0.2rem 0.5rem 2rem #00aa9c;
    }
    .typed-text h2 {
        font-size: 5rem;
        letter-spacing: 0.5rem;
        line-height: 5rem;
        text-align: center;
    }
}

@media(min-width:960px) and (max-width:1199px) {
    .title h1 {
        font-size: 8rem;
        letter-spacing: 0.6rem;
        line-height: 10rem;
        text-align: center;
        text-shadow: 0.2rem 0.5rem 2rem #00aa9c;
    }
    .typed-text h2 {
        font-size: 6rem;
        letter-spacing: 0.5rem;
        line-height: 6rem;
        text-align: center;
    }
}

@media(min-width:1200px) {
    .text-banner {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        position: absolute;
    }
    .title {
        margin: 5rem 0;
        display: flex;
    }
    .title h1 {
        font-size: 8rem;
        letter-spacing: 0.6rem;
        line-height: 10rem;
    }
    .typed-text h2 {
        font-size: 6rem;
        letter-spacing: 0.5rem;
        line-height: 7rem;
        text-align: center;
    }
}

.img-container span {
    font-weight: 600;
    color: rgb(29, 156, 194);
    text-shadow: 0 0 1rem #00aa9c;
}

.hamburger {
    color: rgb(29, 156, 194);
    text-shadow: 0 0 1rem #00aa9c;
    left: 2rem;
    top: 2rem;
    outline: none;
    position: absolute;
}

.button-down {
    bottom: 5rem;
    position: absolute;
    text-align: center;
}

.button-down a {
    color: rgb(29, 156, 194);
    transition: 0.4s ease;
}

.button-down button {
    background-color: transparent;
    border: 1px solid #00aa9c;
    border-radius: 50%;
    box-shadow: 0 0 1rem #00aa9c;
    color: rgb(29, 156, 194);
    font-size: 3rem;
    text-shadow: 0 0 1rem #00aa9c;
    transition: 0.4s ease;
    outline: none;
    padding: 2rem;
}

@media(min-width:481px) and (max-width:767px) {
    .button-down button {
        font-size: 2rem;
        text-shadow: 0 0 1rem #00aa9c;
        transition: 0.4s ease;
        outline: none;
        padding: 1rem;
    }
}

@media(min-width:768px) and (max-width:959px) {
    .button-down button {
        font-size: 4rem;
        text-shadow: 0 0 1rem #00aa9c;
        transition: 0.4s ease;
        outline: none;
        padding: 3rem;
    }
}

@media(min-width:960px) and (max-width:1199px) {
    .button-down button {
        font-size: 4rem;
        text-shadow: 0 0 1rem #00aa9c;
        transition: 0.4s ease;
        outline: none;
        padding: 3rem;
    }
}

@media(min-width:1200px) {
    .button-down button {
        font-size: 4rem;
        padding: 3rem;
    }
}

.button-down a:hover {
    color: rgb(29, 45, 194);
}

.button-down button:hover {
    background-color: #51dace;
    box-shadow: 0 0 3rem #00aa9c;
    color: rgb(29, 45, 194);
}


/* ---------- about ---------------*/

.dark-content {
    background-color: #1a1919;
    color: #d0e6e4;
}

.about-title {
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 3rem 3rem 0.5rem 3rem;
    border-bottom: 3px solid #00aa9c;
}

.text-container {
    padding: 2rem;
}

.text {
    font-size: 1.7rem;
    line-height: 2.3rem;
    letter-spacing: 1px;
    margin: 1rem;
}


/* ----- knowledge -------*/

.knoledge-title {
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 3rem 3rem 0.5rem 3rem;
    right: 6rem;
    border-bottom: 3px solid #00aa9c;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: #00aa9c;
    font-size: 3rem;
    padding: 0 3rem;
}

.skills {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.tec {
    font-size: 3rem;
    margin: 1.5rem;
}