html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.img-container {
    background-color: #1a1919;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: 99;
}

.text-banner {
    padding-bottom: 20rem;
}

.title h1 {
    color: rgb(29, 156, 194);
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    text-align: center;
    text-shadow: 0.2rem 0.5rem 2rem #00aa9c;
}

.typed-text h2 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    margin: 0;
    text-align: center;
}

.img-container span {
    font-weight: 600;
    color: rgb(29, 156, 194);
    text-shadow: 0 0 1rem #00aa9c;
}

.hamburger {
    color: rgb(29, 156, 194);
    text-shadow: 0 0 1rem #00aa9c;
    left: 2rem;
    top: 2rem;
    outline: none;
    position: absolute;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-down {
    position: absolute;
}

.button-down a {
    color: rgb(29, 156, 194);
    transition: 0.4s ease;
}

.button-down button {
    background-color: transparent;
    border: 1px solid #00aa9c;
    border-radius: 50%;
    box-shadow: 0 0 1rem #00aa9c;
    color: rgb(29, 156, 194);
    font-size: 3rem;
    text-shadow: 0 0 1rem #00aa9c;
    transition: 0.4s ease;
    outline: none;
    padding: 2rem;
}

.button-down a:hover {
    color: rgb(29, 45, 194);
}

.button-down button:hover {
    background-color: #51dace;
    box-shadow: 0 0 3rem #00aa9c;
    color: rgb(29, 45, 194);
}