html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cabin', sans-serif;
}

.img-container {
    align-items: center;
    background-image: url(../img/pexels-instawalli-169789.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #1d1c1cce;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.title h1 {
    color: rgb(192, 203, 207);
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
}

.typed-text h2 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 5rem;
    margin: 0;
}

.img-container span {
    font-weight: 600;
    color: #2956b8;
}